*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    margin: auto;
    overflow: hidden;
    padding-left: calc(((100vw - 1020px)/2));
}

.slideShow {
    display: flex;
    width: 100%;
    height: 600px;
}

.slideShow img {
    margin: 0px 10px;
    width: 1000px;
    height: 600px;
}

#prev, #next {
    cursor: pointer;
    position: absolute;
    height: 60px;
    width: 40px;
    top: calc(300px - 30px);
    z-index: 2;
    font-size: 30px;
    color: #FFFFFF;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.2s ease;
}

#prev:hover, #next:hover  {
    background-color: rgba(0, 0, 0, 1.0);
}

#next {
    border-radius: 5px 0px 0px 5px;
    right: 0px;
}

#prev {
    border-radius: 0px 5px 5px 0px;
}

.bottom-dot {
    text-align: center;
    margin: 20px auto;
}

.dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    background-color: #F6E0B7;
}